/* header styles */

.header {
  background: url(/images/main-bg.jpg);
  /* background-size: cover; */
}

.nav_block {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 48px 64px 0 64px;
}
.header_list {
  display: flex;
}

.header_item {
  margin-right: 16px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.contact_list {
  display: flex;
}

.concact_item {
  margin-right: 16px;
}

/* .contact_item:nth-child(n + 2) {
  margin-right: 32px;
} */

.concact_item:last-child {
  margin-right: 0;
}

.contact_link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

.mr {
  margin-right: 32px;
}

.logo_wrapper {
  padding-top: 408px;
  padding-bottom: 200px;
  text-align: center;
}

/* craft styles */

.craft {
  padding: 100px 0 0 64px;
  margin-bottom: 214px;
}

.craft_top {
  width: 575px;
  margin-bottom: 64px;
}

.craft_top_title {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  color: #000000;
}

.craft_top_btn {
  margin-top: 60px;
  padding: 5px 27px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

.craft_middle {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 64px;
  margin-bottom: 113px;
}

.craft_middle_img {
  margin-right: 24px;
}

.craft_middle_img:last-child {
  margin-right: 0;
}

/* .mt {
    margin-top: 300px;
} */

/* .craft_middle_img:first-child {
    padding-top: 100px;
} */

.craft_bottom_text {
  padding: 0 78px 0 64px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
}

.mb16 {
  margin-bottom: 16px;
}

.craft_bottom_btn {
  margin: 37px 0 0 64px;
  padding: 1px 25px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

/* artworks styles */

.artworks_subtext {
  padding: 0 555px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.artworks_group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 95px;
  padding: 0 64px;
}

.mb {
  margin-bottom: 160px;
}

.artworks_group_title {
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 52px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  color: #000000;
}

.artworks_group_title:last-child {
  margin-bottom: 0;
}

.artworks_block_btn {
  margin-top: 100px;
  text-align: center;
}

.artworks_btn {
  padding: 5px 25px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

/* projects styles */

.projects {
  margin-top: 190px;
}

.projects_title {
  font-family: Roboto;
  font-size: 51px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  color: #000000;
}

.projects_text {
  padding: 0 420px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.projects_block {
  margin-top: 63px;
  display: flex;
  justify-content: center;
}

.projects_sect {
  margin-right: 24px;
}

.projects_sect:last-child {
  margin-right: 0;
}

.projects_block_text {
  margin-top: 16px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* services styles */

.services {
  margin-top: 192px;
}

.services_subtitle {
  margin-bottom: 64px;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  color: #000000;
}

.services_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services_item {
  width: 300px;
  margin-right: 120px;
  margin-bottom: 100px;
}

.services_title {
  margin-bottom: 17px;
  width: 300px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.services_text {
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.services_subtext {
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.services_btn_block {
  margin-top: 32px;
  text-align: center;
}

.services_btn {
  padding: 5px 25px;
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #000000;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

/* novelties styles */

.novelties {
  margin-bottom: 192px;
}

.novelties_title {
  margin-top: 200px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 53px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  color: #000000;
}

.novelties_list {
  display: flex;
  justify-content: center;
}

.novelties_item {
  margin-right: 40px;
}

.novelties_text {
  margin-top: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.novelties_price {
  font-family: Cardo;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #000000;
}

/* footer styles */

.footer_nav_list {
  display: flex;
  margin-left: 64px;
}

.footer_nav_item {
  margin-right: 16px;
}

.footer_nav_link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* text-align: left; */
  color: #000000;
  text-transform: uppercase;
}

.subfooter_left_text {
  font-family: Cardo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.subfooter {
  display: flex;
  justify-content: space-between;
  margin: 34px 64px 64px;
}
